.doctor-card {
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 20px;
    padding: 15px;
}

.doctor-card:hover {
    transform: scale(1.03);
}
 .service-item {
     display: flex;
     align-items: center;
     padding: 10px;
     border: 1px solid #f1f1f1;
     border-radius: 10px;
     margin-bottom: 15px;
     background-color: #fff;
 }

 .service-item img {
     width: 40px;
     margin-right: 15px;
 }

 .service-title {
     font-size: 18px;
     font-weight: 500;
 }
 .page {
     height: auto;
     text-align: center;
     margin-top: 20px;
 }

 .page ul {
     display: inline-flex;
     list-style: none;
 }

 .page ul li a {
     cursor: pointer;
     padding: 10px 10px;
     border: 1px solid #dbdbdb;
     background-color: white;
     font-size: 14px;
 }

 .page ul li a:hover {
     background-color: #00a2ff;
     color: white;
 }